<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="Alex Fankhauser, Preston Fitzgerald, Seth Brock, Zach Hansen" />
        <title>Social Media Usage and Mental Health | Account Settings</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../assets/provoFavicon.png"/>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@latest/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-white bg-white">
            <div class="container px-5">
                <a class="navbar-brand" href="/"><img src="../assets/provo logo.png" alt="Provo City Logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/survey">Survey</a></li>
                        <li class="nav-item"><a class="nav-link" href="/graphs">Data</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/account">Account</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <br><br><br><br>
                            <h1 class="display-5 fw-bolder text-white mb-2">View and modify account data</h1><br>
                            <!-- <p class="lead text-white-50 mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit!</p> -->
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/newAccount">Create new account</a>
                                <a class="btn btn-outline-light btn-lg px-4" href="#editAccount">Edit account data</a>
                            </div>
                        </div>
                        <div id="editAccount"></div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Pricing section-->
        <section class="bg-light py-5 border-bottom">
            <div class="container px-5 my-5">
               <form action="editAccount" method="post" class="AccountEditor">
                <input type="hidden" id="Account_Num" name="Account_Num" value="<%= myaccount[0].Account_Num %>">
                    <div class="form-floating mb-3" style="margin: auto; width: 75%">
                        <input class="form-control" type="text" id="Username" name="Username" value="<%= myaccount[0].Username %>">
                        <label for="Username">Username:</label>
                    </div>
                    <div class="form-floating mb-3" style="margin: auto; width: 75%">
                        <input class="form-control" type="text" id="Password" name="Password" value="<%= myaccount[0].Password %>">
                        <label for="Password">Password:</label>
                    </div>
                    <div class="form-floating mb-3" style="margin: auto; width: 75%">
                        <input class="form-control" type="text" id="Email" name="Email" value="<%= myaccount[0].Email %>" />
                        <label for="Email">Email:</label>    
                    </div>
                    <div class="form-floating mb-3"></div>
                    <input type="hidden" id="Admin_Status" name="Admin_Status" value="true">
                    <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit" style="width: 75%; margin: auto">Update account</button></div>  
               </form>
               <br>
               <div class="d-grid"><a class="btn btn-secondary btn-lg" href="/logout" style="width: 75%; margin: auto;">Log out</a></div><br>
               <div class="d-grid"><a class="btn btn-secondary btn-lg" onclick="deleteAccount()" style="width: 75%; margin: auto; background-color: red;" id="beCareful">Delete account</a></div>
            </div>
        </section>


        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <span hidden><form method='post' action='deleteAccount'><input type="hidden" id="Account_Num" name="Account_Num" value="<%= myaccount[0].Account_Num %>"><button id="my-button" onclick="testing()" type="submit"></button></form></span>
            <div class="container px-5"><p class="m-0 text-center text-white">smumh@provo.org  |  (801) 378-1557</p><p class="m-0 text-center text-white">Copyright &copy; Provo City 2023</p></div>
        </footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        
        <!-- Core theme JS-->
        <script src="../js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script>
            function deleteAccount()
            {if (confirm("Are you sure you want to delete your account? This action cannot be undone."))
            {clickButton(button)}}

            function clickButton(buttonElement) {
            const clickEvent = new MouseEvent('click');
            buttonElement.dispatchEvent(clickEvent);
            }

            const button = document.getElementById('my-button');
        </script>
    </body>
</html>

