<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="This is the administrative data page that allows for access to the raw data" />
        <meta name="author" content="Alex Fankhauser, Preston Fitzgerald, Seth Brock, Zach Hansen" />
        <title>Social Media Usage and Mental Health | The Data</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../assets/provoFavicon.png"/>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@latest/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/styles.css" rel="stylesheet" />
        <style>
            select  {border-radius: 10px;
                text-align: center;
                width: 200px;
                font-size: x-large;}
        </style>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-white bg-white">
            <div class="container px-5">
                <a class="navbar-brand" href="/"><img src="../assets/provo logo.png" alt="Provo City Logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/survey">Survey</a></li>                        
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/graphs">Data</a></li>
                        <li id="account" class="nav-item"></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--Header 2-->
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="text-center">
                        
                        <h1 class="display-5 fw-bolder text-white mb-2">Raw Data</h1>
                        <p class="lead text-white-75 mb-4">Select a record below to view its answers to the questions</p>
                    </div>
                </div>
            </div>
        </header>

        <!--Data section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5" style="width: 300px; text-align: center;">
                <!-- This is a dropdown menu designed to link to individual records -->
                <form action="/details" method="post">
                <select id="userid" name="userid">
                    <% for (let iCount = 0; iCount < personalDetails.length; iCount++) { %>
                    <option value="<%= personalDetails[iCount].Participant_ID %>"><%= personalDetails[iCount].Participant_ID %></option>
                    <% } %>
                </select>
                <br/><br/><button type="submit" class="btn btn-primary btn-lg px-4 me-sm-3" style="width: 200px">See record</button>
                </form>
            </div>
        </section>

        <!--Raw Data only to be shown to admin-->
        <section class="container px-5 my-5" id="rawData">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Timestamp</th>
                            <th scope="col">Age</th>
                            <th scope="col">Gender</th>
                            <th scope="col">City</th>
                            <th scope="col">Relationship Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let iCount = 0; iCount < PersonalDetails.length; iCount++) { %>
                            <tr>
                                <th scope="row"><%= PersonalDetails[iCount].Participant_ID %></th>
                                <td><%= PersonalDetails[iCount].Timestamp %></td>
                                <td><%= PersonalDetails[iCount].Age %></td>
                                <td><%= PersonalDetails[iCount].Gender %></td>
                                <td><%= PersonalDetails[iCount].City %></td>
                                <td><%= PersonalDetails[iCount].Relationship_Status %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </section>


        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-5"><p class="m-0 text-center text-white">smumh@byu.net   |  (801) 378-1557</p><p class="m-0 text-center text-white">Copyright &copy; Provo City 2023</p></div>
        </footer>

        <!-----------JAVASCRIPT SCRIPTS----------->
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        
        <!-- Core theme JS-->
        <script src="../js/scripts.js"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script>
            if (sessionStorage.getItem('login') == 'true') {
                document.getElementById('account').innerHTML = '<li class="nav-item"><a class="nav-link" href="/account">Account</a></li>'
                } else { 
                document.getElementById('account').innerHTML = '<li class="nav-item"><a class="nav-link" href="/account">Log In</a></li>'
                }
        </script>

    </body>
</html>