<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <label><b>Country Information:</b></label>
   <br><br>
   <table style="width: 100%; background-color: antiquewhite; border: 1px solid black;">
     <thead style="background-color: cornflowerblue; color: white;">
       <tr>
         <th style="text-align: left;">Account Number</th>
         <th style="text-align: left;">Username</th>
         <th style="text-align: left;">Password</th>
         <th style="text-align: left;">Email</th>
         <th style="text-align: left;">Admin Status</th>
         <th></th>
         <th></th>
       </tr>
     </thead>
     <tbody style="font-family: Arial; font-size: 9pt;">
      <% for (let iCount = 0; iCount < account.length; iCount++) { %>
         <tr>
           <td><%= account[iCount].Account_Num %></td>
           <td><%= account[iCount].Username %></td>
           <td><%= account[iCount].Password %></td>
           <td><%= account[iCount].Email %></td>
           <td><%= account[iCount].Admin_Status %></td>
           <td style="text-align: center;">
             <form action="/editCountry/<%= account[iCount].country_id %>" method="GET">
               <button type="submit">Edit</button>
             </form>
           </td>
           <td style="text-align: center;">
             <form action="/deleteCountry/<%= account[iCount].country_id %>" method="POST">
               <button type="submit">Delete</button>
             </form>
           </td>
         </tr>
      <% } %>
     </tbody>
   </table>
   <br><br>
   <form action="/addCountry" method="GET">
     <button type="submit">Add Country</button>
   </form>
</body>
</html>